/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
  padding-block-start: 100px;
  background-color: var(--bg-color, #fff);
  background-image: var(--body-patern, none);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header{
  width: 696px;
  height: 364px;
  border: 2px solid var(--accent-color, #000);
  background: var(--bg-color, #FFF);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px 370px;
}

.header_teg{
  color: var(--accent-color, #000);
  font-family: "Press Start 2P";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header_title{
  color: var(--accent-color, #000);
  font-family: "Press Start 2P";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main {
  padding-block-end: 100px;
}

.card_list{
  display: grid;
  gap: 50px;
}

.card{
  border: 2px solid var(--text-color, #000);
  width: var(--card-section-width);
  margin-inline: auto;
  background-color: var(--bg-color, #fff);
}

.card_title{
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--card-title-font-weight);
}

.card_image-container{
  position: relative;
  overflow: hidden;
}

.card-label{
  text-transform: uppercase;
  position: absolute;
  inset-block-start: 25px;
  font-size: 14px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font, --accent-color);
  color: var(--text-color, #000);
  text-shadow: 0 0 1px #ffffff;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

.card_image{
  display: block;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card_description{
  gap: 27px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 21px;
  border-block-start: 2px solid var(--text-color, #000);
}