/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
  padding-block-start: 100px;
  background-color: var(--bg-color, #fff);
  background-image: var(--body-patern, none);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header{
  width: 696px;
  height: 364px;
  border: 2px solid var(--accent-color, #000);
  background: var(--bg-color, #FFF);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px 370px;
}

.header_teg{
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header_title{
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main {
  padding-block-end: 100px;
}

.card_list{
  display: grid;
  gap: 50px;
}

.card{
  border: 2px solid var(--text-color, #000);
  width: var(--card-section-width);
  margin-inline: auto;
  background-color: var(--bg-color, #fff);
}

.card_title{
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--card-title-font-weight);
}

.card_image-container{
  position: relative;
  overflow: hidden;
}

.card-label{
  font-family: var(--accent-font), fantasy;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  opacity: 0.5;
  color: var(--text-color, #000);
  text-shadow: 0 0 1px #fff;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-card-font-weight, 400);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0%;
  z-index: 1;
}

.lowercase{
  text-transform: lowercase;
}

.card_image{
  display: block;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card_description{
  gap: 27px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 21px;
  border-block-start: 2px solid var(--text-color, #000);
}

.card_controls{
  display: flex;
  gap: 6px;
  justify-content: end;
  position: relative;
  padding: 0 25px 25px 25px;
}

.card__like-button{
  border: 2px solid #000000;
  position: relative;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  background-color: var(--bg-color, #fff);
  cursor: pointer;
  transition: box-shadow 0.3s;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__like-button:focus{
  outline: none;
}

.card__like-button:focus-visible{
  box-shadow: 2px 2px 0 0 #000;
}

.card__like-button::before{
  content: '';
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset: 0;
  position: absolute;
  z-index: -1;
  background: #000;
}

.button__text {
  position: relative;
  display: block;
  z-index: 1;
  color: var(--text-color, #000);
  transition: color 0.5s ease-in-out;
}

.card__like-button:hover::before{
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease;
  padding: 0;
  cursor: pointer;
  width: 38px;
  height: 38px;
  gap: 19px;
}

.like-icon{
  margin: 9px 12px 5px 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--text-color, #000);
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)){
  .card-label {
    -webkit-text-stroke: 0.4px #fff;
    text-shadow: none;
  }
}