/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color, #fff);
  background-image: var(--body-patern, none);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-card-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 696px;
  height: 364px;
  margin: 100px 370px;
  border: 2px solid var(--accent-color, #000);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  background: var(--bg-color, #fff);
}

.header_teg {
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header_title {
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 65px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.main {
  padding-block-end: 100px;
}

.card_list {
  display: grid;
  gap: 50px;
}

.card {
  width: var(--card-section-width);
  margin-inline: auto;
  border: 2px solid var(--text-color, #000);
  background-color: var(--bg-color, #fff);
}

.card_title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-title-font-weight);
}

.card_image-container {
  position: relative;
  overflow: hidden;
}

.card-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, #000);
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-card-font-weight, 400);
  font-size: 14px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-shadow: 0 0 1px #fff;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

.lowercase {
  text-transform: lowercase;
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.card_description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--text-color, #000);
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card_controls {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 6px;
  padding: 0 25px 25px 25px;
}

.card__like-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 130px;
  height: 38px;
  border: 2px solid #000000;
  padding: 9px 17px;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--text-color, #000);
  transition: color 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  gap: 19px;
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.like-icon {
  margin: 9px 12px 5px 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000);
  outline: none;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card-label {
    text-shadow: none;
    -webkit-text-stroke: 0.4px #fff;
  }
}

.button_save {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin-inline: auto;
  margin-block-start: 50px;
  border: 2px solid #000;
  padding: 15px 0;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-size: 14px;
  background-color: var(--bg-color #fff);
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.floppy-icon {
  color: var(--bg-color, #fff);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.window-modal {
  padding: 30px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 357px;
}

.window-modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.window-modal[open] {
  display: grid;
  gap: 30px;
}

.content-modal {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy-icon-modal {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.button_modal_window {
  position: relative;
  z-index: 1;
  height: 38px;
  border: 2px solid #000;
  padding-top: 6px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s;
  cursor: pointer;
  inline-size: 100%;
}

.filter__blanch {
  filter: grayscale(1);
}

.filter__intensy {
  filter: saturate(250%);
}

.filter_rotate-hue {
  filter: hue-rotate(-180deg);
}

.filter__turn {
  filter: invert(0.9) contrast(1.2);
}

.filter_sepia {
  filter: sepia(120%);
}

.filter_bluress {
  filter: blur(100px);
}

.filter_upcontrast {
  filter: contrast(200%);
}
